.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);

@media only screen {

body {
    font-family: 'Lato' !important;
}

.shorten-form {
    text-align: center;
    padding-top: 40px;
}

.shorten-form p, .short-content p {
    margin-bottom: 25px;
}

input {
    float: left;
    clear: both;
}

.shorten-form form {
    margin: 0 auto;
    width: 80%;
}

.shorten-form input.link-input {
    width: 99%;
    height: 40px;
    font-size: 16px;
    text-indent: 5px;
    margin-bottom: 25px;
}

.button-wrap {
    width: 50%;
    margin: 0 auto;
}

.shorten-form input.link-submit-button {
    margin: 0 auto;
    display: block;
    width: 100%;
    background: #fff;
    padding: 12px 0;
    border: 2px solid #8EDBBC;
    border-radius: 8px;
    color: #8EDBBC;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

textarea:focus, input:focus {
    outline: 0;
}

.shorten-form input.link-submit-button:hover {
    color: #fff;
    background: #8EDBBC;
}

.generated-link {
    color: #8EDBBC;
}

.error-box {
    color: red;
    display: block;
    margin-top: 25px;
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
}

.short-content {
    margin-top: 40px;
    text-align: center;
}

}

@media only screen and (min-width: 40.063em) {
    .shorten-form form {
        width: 60%;
    }
}

@media only screen and (min-width: 64.063em) {
    .shorten-form form {
        width: 40%;
        min-width: 400px;
    }
    .button-wrap {
        max-width: 250px;
    }
}